<div class="navbar-header">
    <img src="/images/logo.png" style="height:35px; margin-left:10px; margin-top:5px;"/>
    <label style="font-size: 24px;color: white; font-family:microsoft yahei light;position:relative;top:12px;left:5px;">——人事管理系统</label>
</div>
<ul class="nav navbar-top-links navbar-right">
    <li>
        <a href="/user/updatePwd">
            <strong>修改密码</strong>
        </a>
    </li>
    <li>
        <a href="/user/check_out">
            <i class="fa fa-sign-out fa-fw"></i><strong>注销用户</strong>
        </a>
    </li>
</ul>
